# Overview of Yahoo Finance & data extraction
#### Downloading data for a 6 month period

In [4]:
import yfinance as yf


data = yf.download("MSFT", period="6mo")
display(data)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-11-27,376.779999,380.640015,376.200012,378.609985,377.230713,22179200
2023-11-28,378.350006,383.000000,378.160004,382.700012,381.305847,20453100
2023-11-29,383.760010,384.299988,377.440002,378.850006,377.469849,28963400
2023-11-30,378.489990,380.089996,375.470001,378.910004,377.529633,30554400
2023-12-01,376.760010,378.160004,371.309998,374.510010,373.145660,33020400
...,...,...,...,...,...,...
2024-05-20,420.209991,426.769989,419.989990,425.339996,425.339996,16272100
2024-05-21,426.829987,432.970001,424.850006,429.040009,429.040009,21453300
2024-05-22,430.089996,432.410004,427.130005,430.519989,430.519989,18073700
2024-05-23,432.970001,433.600006,425.420013,427.000000,427.000000,17211700
2024-05-24,427.190002,431.059998,424.410004,430.160004,430.160004,11845800

#### Downloading data from start date to end date

In [6]:
import yfinance as yf


data = yf.download("MSFT", start="2024-01-01", end="2024-04-30")
display(data)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,373.859985,375.899994,366.769989,370.869995,369.518921,25258600
2024-01-03,369.010010,373.260010,368.510010,370.600006,369.249908,23083500
2024-01-04,370.670013,373.100006,367.170013,367.940002,366.599579,20901500
2024-01-05,368.970001,372.059998,366.500000,367.750000,366.410309,20987000
2024-01-08,369.299988,375.200012,369.010010,374.690002,373.325012,23134000
...,...,...,...,...,...,...
2024-04-23,404.239990,408.200012,403.059998,407.570007,406.836182,15734500
2024-04-24,409.559998,412.470001,406.779999,409.059998,408.323486,15065300
2024-04-25,394.029999,399.890015,388.029999,399.040009,398.321533,40586500
2024-04-26,412.170013,413.000000,405.760010,406.320007,405.588440,29694700
2024-04-29,405.250000,406.320007,399.190002,402.250000,401.525757,19582100

#### Viewing Intra Day data

In [1]:
import yfinance as yf


data1 = yf.download("MSFT", period="1mo", interval="5m")
#display(data)
data2 = yf.download("MSFT", period="1d", interval="5m")
display(data2)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-05-28 09:30:00-04:00,429.850006,430.000000,427.100006,428.269989,428.269989,1227235
2024-05-28 09:35:00-04:00,428.230011,428.700012,428.095001,428.575012,428.575012,203613

#### Getting data for multiple stocks

In [ ]:
import datetime
import pandas as pd


stocks = ["AMZN","MSFT","RELIANCE.NS","GOOG","INFY.NS","3988.HK"]
start = dt.datetime.today()-dt.timedelta(360)
end = dt.datetime.today()
cl_price = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock
ohlcv_data = {} # empty dictionary which will be filled with ohlcv dataframe for each ticker

# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]


# looping over tickers and storing OHLCV dataframe in dictionary
for ticker in stocks:
    ohlcv_data[ticker] = yf.download(ticker,start,end)